# Force pnpm as the package manager
package-manager=pnpm

# Prevent npm from running if someone tries to use it
engine-strict=true

# Additional pnpm configurations

shamefully-hoist=false
strict-peer-dependencies=false
